# Python
.venv/
venv/
__pycache__/
*.pyc
*.sqlite

# Environment variables
.env
*.local

# Node.js
node_modules/
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Snapshots / Tests
snapshots/

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server/uploads/